<h1 class="sub">Registro de preinscripci&oacute;n</h1>

<%= render 'form', inscripcion_registro: @inscripcion_registro %>

<p class="privacidad">
   <strong>Pol&iacute;tica de privacidad y manejo de datos personales</strong>
   <br>En cumplimiento con lo establecido por la Ley Federal de Transparencia y Acceso a la Informaci&oacute;n P&uacute;blica Gubernamental
   te informamos nuestra pol&iacute;tica de privacidad y manejo de datos personales y hacemos el siguiente compromiso:
</p>
<ol type="1" class="privacidad">
  <li>Los datos que te solicitamos en el formulario &uacute;nicamente ser&aacute;n utilizados para poder establecer contacto contigo en relaci&oacute;n a tu curso.</li>
  <li>Los datos que ingreses en el formulario no ser&aacute;n difundidos, distribuidos o comercializados</li>
</ol>

<%= render 'inscripcion_registros/links' %>
