<h1 class="sub">Reporte DEC</h1>
<br>
<%= link_to 'Descargar .xlsx Inglés', reporte_dec_inscripcion_registros_path(format: :xlsx), class:'btn btn-primary btn-lg' %>
<br>
<br>
<%= link_to 'Descargar .xlsx Francés', reporte_dec_frances_inscripcion_registros_path(format: :xlsx), class:'btn btn-info btn-lg' %>
<br>
<br>
<%= link_to 'Descargar .xlsx Italiano', reporte_dec_italiano_inscripcion_registros_path(format: :xlsx), class:'btn btn-success btn-lg' %>
