<h1 class="sub">Editar solicitud examen de colocaci&oacute;n</h1>

<%= render 'form', examen_colocacion_idioma: @examen_colocacion_idioma %>

<%= link_to 'Mostrar', @examen_colocacion_idioma %> |
<%= link_to 'Regresar', examen_colocacion_idiomas_path %>
