<h1 class="sub">Editar clave del cat&aacute;logo</h1>

<%= render 'form', clave_catalogo: @clave_catalogo %>

<%= link_to 'Detalles', @clave_catalogo %> |
<%= link_to 'Regresar', clave_catalogos_path %>
