<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading panel-head-verde">
        <h3 class="panel-title">Instrucciones para validaci&oacute;n de inscripciones</h3>
      </div>
      <div class="panel-body">
        <%= image_tag "validar.png", class:'texto-imagen' %> Para validar un registro de inscripci&oacute;n deber&aacute; dirigirse al men&uacute; <strong>"Inscripciones->Ver registros de inscripci&oacute;n"</strong>
         y posteriormente dar clic en <strong>"editar"</strong>. Dentro del registro ir a la secci&oacute;n <strong>"Control escolar"</strong> y tildar el campo <strong>"validar"</strong>.
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading panel-head-verde">
        <h3 class="panel-title">Instrucciones para la creaci&oacute;n de historiales</h3>
      </div>
      <div class="panel-body">
        <%= image_tag "historial.png", class:'texto-imagen' %> Para crear un historial acad&eacute;mico dirigirse al men&uacute; <strong>"Historiales->Crear historial"</strong>,
          posteriormente seleccionar los campos correspondientes y presionar <strong>"enviar"</strong>.
      </div>
    </div>
  </div>
</div>
