
    <h1>Hola! <%= @user.nombre_paterno_materno %></h1>
    <h2>Usted se ha registrado en el Sistema de Inscripciones del CECIEMD correctamente.</h2>
    <p>Puede iniciar sesión a través del siguiente enlace: http://celex.cec-mendezdocurro.ipn.mx/</p>
    <p>En caso de haber olvidado su contraseña puede recuperarla a través del siguiente enlace: http://celex.cec-mendezdocurro.ipn.mx/users/password/new</p>
    <p>
      Este correo se envía autom&aacute;ticamente, por favor no lo responda.
    </p>
