<h1 class="sub">Editar n&uacute;mero de registro del curso</h1>

<%= render 'form', numero_registro: @numero_registro %>

<%= link_to 'Detalles', @numero_registro %> |
<%= link_to 'Regresar', numero_registros_path %>
