<p>
  <strong>N&uacute;mero de registro del curso:</strong>
  <%= @numero_registro.nombre %>
</p>

<%= link_to 'Editar', edit_numero_registro_path(@numero_registro) %> |
<%= link_to 'Regresar', numero_registros_path %>
