<h1 class="sub">Editar modalidad de oferta</h1>

<%= render 'form', modalidad_ofertum: @modalidad_ofertum %>

<%= link_to 'Detalles', @modalidad_ofertum %> |
<%= link_to 'Regresar', modalidad_oferta_path %>
