<h2 class="sub">Registro de inscripci&oacute;n</h2>
<div class="row">
  <center>
    <%= link_to "Descargar talón de inscripción", talon_it_inscripcion_registros_path(@it_inscripcion_registro, format: :pdf), class:'btn btn-primary btn-lg' %>
  </center>
</div>

<div class="row">
  <div class="col-md-8">
    <%= render 'it_inscripcion_registros/links' %>
  </div>
</div>
