// Place all the styles related to the inscripcion_registros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hidden{
  display: none;
}
.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
#talon p {font-size: 12px;}
#talon ul, li {font-size: 10px;}
#talon h4 {font-size: 12px;}
.talon-tabla td {font-size: 12px}

.fecha-constancia {font-size: 10px; line-height: 10px;}
#constancia_avanzado p {font-size: 10px;}
#constancia_avanzado h2 {font-size: 18px;}
#constancia_avanzado h3 {font-size: 16px;}
#constancia_avanzado h4 {font-size: 12px;}
#constancia_avanzado ul, li {font-size: 10px;}

/* Estilos para constancias */
.constancia td{
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.dependencia {font-size: 1.2em !important; line-height: 20px !important;}
.otorga {line-height: 25px !important;}
.constancia {font-size: 3.8em !important; color: #333;}
.nombre_mayusculas {font-size: 1.6em !important; text-transform: uppercase;}
.instituto {font-size: 0.9em !important;}
.texto-ipn {font-size: 14px; text-align: right;}
.escudo-ipn {width: 29px; height: 40px; padding-left: 5px;}
.escudo-sep {width: 225px; height: 72px;}

table.constancia-avanzado {
    border-collapse: collapse;
}

table.constancia-avanzado, table.constancia-avanzado td, table.constancia-avanzado th {
    font-size: 5px;
    border: 1px solid black;
    text-align: center;
    padding: 5px 15px;
  }
