<p>
  <strong>Nombre del lugar de realizaci&oacute;n:</strong>
  <%= @lugar_nombre.nombre %>
</p>

<%= link_to 'Editar', edit_lugar_nombre_path(@lugar_nombre) %> |
<%= link_to 'Regresar', lugar_nombres_path %>
