<div style="float: right; margin: -110px 0 0 0; width: 450px;">
    <%= image_tag "dfle_logo.png", style:"float: right; margin: 0px 15px 15px 0px;" %>
    <br>
    <p align="center"><span class="sepi"><strong>Dirección de Formación en Lenguas Extranjeras</strong></span><br>
    </p>
</div>
