<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
<title>Documento de diplomado</title>
  <%= wicked_pdf_stylesheet_link_tag "grupos_diplomados" -%>
</head>
<body>
  <div class='container'>
    <%= yield %>
  </div>
</body>
</html>
