<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
<title>Credenciales media superior</title>
  <%= wicked_pdf_stylesheet_link_tag "unitarios" -%>
</head>
<body class="fondo-superior">
  <div class='container'>
    <%= yield %>
  </div>
</body>
</html>
